#mostrarChat {
    position: fixed;
    right: 0;
    bottom: 0;
}

#mostrarBoton {
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: rgb(231, 108, 72);
}

#chat {
    position: fixed;
}

#ocultoChat{
    display: none;
}

#ocultoBoton{
    display: none;
}

#chatbotMostrar{
    display: block;
}

#divChat{
    display:block;
    display:-webkit-flex;
    display:        flex;
    margin-top:2em;
}