

/* .actions{
    display: none!important;
} */

.action > img {
    width: 15px;
}

.add-product{
    margin-right: 0;
    margin-left: auto;
}



.btn-primary{
    background-color: rgb(221, 167, 95) !important;
}

.btn-secondary{
    background-color: #1d2d44 !important;
}

.btn-warning{
    background-color: rgb(221, 167, 95) !important;
    border-color: rgb(221, 167, 95) !important;
}

.titleInventory{
    font-family: "Zilla Slab", serif;
    justify-content: center;
    color: #1d2d44;
}